/*	Estilos de la pagina	*/

/*	Navbar	*/
body {
	margin: 0;
	padding: 0; 
	background-image: url("../media/bg.png");
}

header {
	margin: 0;
	padding: 0;
}

header #navbar {
	margin:0 auto;
	padding: 0;
}

header #navbar img {
	float: left;
	background-color: #333;
}

header #navbar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	height: 50px;
}

header #navbar li {
	float: left;
}

header #navbar li a, .dropbtn {
	display: block;
	color: white;
	text-align: center;
	padding: 16px 16px;
	text-decoration: none;
}

header #navbar li img {
	float: right;
	margin: 0;
	padding: 0;
}

header #navbar li a:hover {
	background-color: #111;
}


header #navbar li.dropdown {
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: black;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	overflow: hidden;
}

.dropdown-content a {
	color: white;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

.drodown-content a:hover {
	background-color: #293d3d;
}

.show {display: block;}

/*	Contenido	*/

#banner {
	position: relative;
	margin-bottom: 10px;
	max-height: 400px;
	overflow-y: hidden; 
	border-bottom: solid;
}

#banner img {
	max-width: 100%;
	max-height: 100%;
}

#contenido {
	max-width: 100%;
	margin: 0 auto;
	padding: 10px;
	max-height: auto;
}

#nota {
	width: 79%;
	/*outline: black solid;*/
	min-height: 600px;
	text-align: center;
	color: white;
	float: left;
	background-color: #666;
	box-shadow: 10px 10px 5px #000;
}

#bio {
	width: 20%;
	/*outline: black solid;*/
	min-height: 600px;
	color: white;
	float: right;
	background-color: #666;
	box-shadow: 10px 10px 5px #000;
}

#bio .foto {
	float: left;
	margin-right: 10px;

}

#contenido #bio #Efrain {
	max-width: 100%;
	margin: 10px 10px;
}

#contenido #bio #Mario {
	max-width: 100%;
	margin: 10px 10px;
}

footer {
	position: relative;
    /* Altura total del footer en px con valor negativo */
    margin-top: -50px;
    height: 10px;
    padding:15px 0px;
    clear: both;
    /*background: #286af0;*/
    text-align: left;
    color: #000;
}